/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/js
.idea/

# No lock files, allow updates for security
# ... manage versions, rely on CI and testing
composer.lock
package-lock.json
